<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBanVeXemPhim"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="your-domain.com" android:path="/your-path" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".Activity.MainActivity" />-->
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.PhimEditActivity" />
        <activity android:name=".Activity.BookingActivity" />
        <activity android:name=".Activity.ChonVeActivity" />
        <activity android:name=".Activity.ConfirmActivity" />
        <activity android:name=".Activity.LichSuDatVeActivity" />
        <activity android:name=".Activity.ManagentPhimActivity" />
        <activity android:name=".Activity.ThemPhimActivity" />
        <activity android:name=".Activity.AdminNgayChieuActivity" />
        <activity android:name=".Activity.AdminDiaDiemActivity" />
        <activity android:name=".Activity.AdminTinhActivity" />
        <activity android:name=".Activity.AdminGioChieuActivity" />
        <activity android:name=".Activity.AdminLoaiRapActivity" />
        <activity android:name=".Activity.AdminThemSuatChieuActivity" />
        <activity android:name=".Activity.ThemNgayChieuActivity" />
        <activity android:name=".Activity.ThemDiaDiemActivity" />
        <activity android:name=".Activity.ThemTinhActivity" />
        <activity android:name=".Activity.ThemGioChieuActivity" />
        <activity android:name=".Activity.ThemLoaiRapActivity" />
        <activity android:name=".Activity.AdminDashboardActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.ForgotPassActivity" />
        <activity android:name=".Activity.AcceptOTPActivity" />
        <activity android:name=".Activity.NewPassActivity" />

    </application>

</manifest>